.gradle/buildOutputCleanup/cache.properties
*.lock
.gradle/buildOutputCleanup/built.bin
*.bin
*.prefs


# Eclipse
.classpath
.project
/bin/


# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
site/

# Gradle
/build/
.gradle/
/.gradle/
POJOTester/.gradle/

